<div class="row">
  <div class="col-sm-12">
    <h2>About TestMP</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h4>Author</h4>
    <p>
      TestMP is developed by <strong>Zhaowei Ding</strong>, <br />who is a software engineer
      in Beijing, China.
    </p>
    <p>
      For updates, follow the <a href="http://www.linkedin.com/pub/zhaowei-ding/48/644/a42">profile</a> on Linkedin.
    </p>
  </div>
  <div class="col-sm-4">
    <h4>Platform</h4>
    <p>TestMP is developed using Java and tested to be cross-platform.</p>
    <p>
       For any issue, open a ticket on the this <a href="https://github.com/dingzhaowei/TestMP/issues">page</a>.
    </p>
  </div>
  <div class="col-sm-4">
    <h4>License</h4>
    <p>TestMP is free software.</p>
    <p>
       You can redistribute it and/or modify it under the terms of <a href="http://opensource.org/licenses/MIT">the
       MIT License (MIT)</a>.
    </p>
  </div>
</div>