<div class="row">
  <div class="col-sm-12">
    <h2>Introduction</h2>
  </div>
</div>

<div class="row">
  <p class="col-sm-12">
    <strong>TestMP</strong> is a test management platform. It integrates the management of test cases
    (including both code and doc), test data, and environments together, and driving the test process
    automatically.
  </p>
  <p class="col-sm-12">
    It is also an automation tool, which makes the building and maintaining automation tests much more
    convenient than before, by the means of:
  </p>
  <div class="col-sm-12">
    <ol>
      <li>Synchronizing the updates of test document and metrics dynamically on each run.</li>
      <li>Clean and meaningful Test Metrics and Environment Status reports.</li>
      <li>Centralized test data storage; Data inheritance hierarchies; Automatic type conversion.</li>
      <li>Hudson-like but more environment-centric driven of continuous integration process.</li>
    </ol>
  </div>
  <p class="col-sm-12">
    This is still an ongoing project, and the beta release
    <a href="http://sourceforge.net/projects/testmp/files/latest/download?source=files">v1.0.3</a>
    has been available (<small><a href="release_notes.txt">release notes</a></small>). Feel free to download and try it!
  </p>
</div>