<div class="row">
  <div class="col-sm-12 menu">
    <div class="row">
      <div class="col-sm-6">
        <img src="./img/Home-Logo.png" width="252" height="96" alt="TestMP Logo">
      </div>
      <div class="col-sm-6">
        <br/><br/><br/>
        <p><strong>TestMP</strong> is a test management platform for <em>automation</em>.</p>
      </div>
    </div>
  </div>
</div>